@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

/* Tùy chỉnh thanh cuộn Scrollbar */
.custom-scrollbar::-webkit-scrollbar { 
    height: 8px; 
    width: 8px; 
}
.custom-scrollbar::-webkit-scrollbar-track { 
    background: #f1f1f1; 
    border-radius: 4px; 
}
.custom-scrollbar::-webkit-scrollbar-thumb { 
    background: #cbd5e1; 
    border-radius: 4px; 
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover { 
    background: #94a3b8; 
}

/* Hiệu ứng khi kéo thả file CSV */
.dragover { 
    background-color: #eff6ff !important; 
    border-color: #3b82f6 !important; 
}
